name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      VERSION: ${{ secrets.VERSION }}
      FIREBASE_CONFIG_JSON: ${{ secrets.FIREBASE_CONFIG_JSON }}
      DISTANCE_THRESHOLD: ${{ secrets.DISTANCE_THRESHOLD }}
      CLOUDINARY_NAME: ${{ secrets.CLOUDINARY_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
      FIREBASE_APIKEY: ${{ secrets.FIREBASE_APIKEY }}
      EMAIL_USERNAME: $ {{ secrets.EMAIL_USERNAME }}
      QR_SECRET_KEY: ${{ secrets.QR_SECRET_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Test and Build with Maven
        run: mvn clean install -DskipTests=false